<!DOCTYPE html>
<html>
<head>
<title>TextUtils</title>
</head>

<body>
<h1>Welcome to Text Modifier! Enter your text below.</h1>
<form action = '\analyze' method = 'get'>
  <textarea name='text' style='margin: 0px; width: 400px; height: 80px;'> </textarea><br>
  <input type="checkbox" name="removepunc">Remove Punctuations<br>
  <input type="checkbox" name="fullcaps">UPPERCASE<br>
  <input type="checkbox" name="lineremover">Remove New Lines<br>

  <button type='submit'>Modify Text</button>

</form>
</body>

</html>
